<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.owntracks.android">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-feature android:name="android.hardware.location.gps" android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To access the network -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- To handle connectivity changes and reconnect -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- To prevent the device from sleeping while handling MQTT traffic -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- To autostart the app once the device boots -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- For BLE beacon detection -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- For BLE beacon detection -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        />
    <!-- Access to broker certificates in private storage on older APIs or on devices not providing files through content:// URIs -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove"/>
    <!-- To locate the device -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- To locate the device -->

    <!-- To access Google Play Services -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.Owntracks"
        android:networkSecurityConfig="@xml/network_security_config"
        >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ui.map.MapActivity" />

        <activity
            android:name=".activities.ActivityRegions"
            android:label="@string/title_activity_regions"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.ActivityRegion"
            android:label="@string/title_activity_region"
            android:parentActivityName=".activities.ActivityRegions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ActivityRegions" />
        </activity>

        <activity
            android:name=".activities.ActivityPreferences"
            android:label="@string/title_activity_preferences"
            android:hardwareAccelerated="true"
            android:parentActivityName=".ui.map.MapActivity" />

        <activity
            android:name=".activities.ActivityPreferencesConnection"
            android:configChanges="orientation"
            android:label="@string/preferencesServer"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.configuration.ConfigurationActivity"
            android:configChanges="orientation"
            android:label="@string/configurationManagement"
            android:parentActivityName=".activities.ActivityPreferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ActivityPreferences" />
        </activity>


        <activity
            android:name=".ui.load.LoadActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:label="@string/title_activity_load">

            <!-- Support two dots in file name: -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\.otrc"
                    android:scheme="content" />
            </intent-filter>
            <!-- Support three dots in file name: -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\..*\\.otrc"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/json" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/otrc" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.owntracks.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


        <service android:name=".services.Scheduler"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.BackgroundService"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="LU" /> <!-- INTENT_ACTION_SEND_LOCATION_USER-->
            </intent-filter>
        </service>

        <receiver
            android:name=".support.receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.status.StatusActivity"
            android:label="@string/title_activity_status"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.map.MapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.map.MapActivity" />
        </activity>
        <activity
            android:name=".ui.contacts.ContactsActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/title_activity_contacts"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".ui.map.MapActivity"
            android:clearTaskOnLaunch="true"
            android:label=""
            android:launchMode="singleTask" >
        </activity>
        <activity android:name=".activities.ActivityWelcome"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            ></activity>
    </application>

</manifest>