---
default_language_version:
  python: python3.13

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: >
          (?x)^(
            project/app/src/main/res/values-[a-z]{2}/strings.xml
          )$
      - id: end-of-file-fixer
        exclude: >
          (?x)^(
            project/app/objectbox-models/default.json|
            project/app/src/main/res/values-[a-z]{2}/strings.xml
          )$
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-xml
      - id: check-toml
      - id: check-added-large-files
      - id: mixed-line-ending
        exclude: project/gradlew.bat
        args: ["--fix=lf"]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint-docker
        name: Actionlint
        description: Lint GitHub Actions workflow files
  - repo: local
    hooks:
      - id: unit-test
        name: Run unit tests
        description: Runs unit-tests
        entry: ./project/gradlew -p project testGmsDebugUnitTest
        pass_filenames: false
        types_or:
          - kotlin
          - java
        language: system
      - id: ktfmt
        name: Ktfmt
        description: Formats kotlin files
        entry: ./project/gradlew -p project ktfmtFormat
        pass_filenames: false
        types_or:
          - kotlin
        language: system
      - id: fastlane
        name: Fastlane lint
        description: Lints fastlane configuration
        entry: bundle exec fastlane list
        pass_filenames: false
        language: system
        files: ^fastlane/Fastfile$
