language: android
before_script: cd project
android:
  components:
     - tools
     - platform-tools

    # The BuildTools version used by your project
    - build-tools-26.0.2

    # The SDK version used to compile your project
    - android-27

    # Additional components
- extra-google-google_play_services