<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="st.alr.mqttitude"
    android:versionCode="0405"
    android:versionName="0.4.05" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <permission
        android:name="st.alr.mqttitude.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="st.alr.mqttitude.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Mqttitude" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDL80DnlIzyG5GNcMoy9yX7uuWEJcCvW7c" />

        <activity
            android:name="st.alr.mqttitude.ActivityMain"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="st.alr.mqttitude.preferences.ActivityPreferences"
            android:configChanges="orientation"
            android:label="Preferences" >
        </activity>

        <service
            android:name="st.alr.mqttitude.services.ServiceProxy"
            android:exported="false" >
        </service>

        <!--
             <receiver
            android:name="st.alr.mqttitude.support.BackgroundPublishReceiver"
            android:enabled="true" >
            <action android:name="st.alr.mqttitude.UPDATE" />
        </receiver>
        -->
        <activity
            android:name="st.alr.mqttitude.ActivityLauncher"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="st.alr.mqttitude.ActivityWizzard"
            android:label="@string/title_activity_activity_wizzard" >
        </activity>
        <activity
            android:name="st.alr.mqttitude.testListActivity"
            android:label="@string/title_test_list" >
        </activity>
        <activity
            android:name="st.alr.mqttitude.testDetailActivity"
            android:label="@string/title_test_detail"
            android:parentActivityName=".testListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".testListActivity" />
        </activity>
    </application>

</manifest>