<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.owntracks.android"
          android:versionCode="0503"
          android:versionName="0.5.03" >

    <uses-feature  android:glEsVersion="0x00020000"  android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" /> <!-- To access the network -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- To handle connectivity changes and reconnect -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- For Google Maps caching -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /> <!-- To access Google Play Services -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- To locate the device -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- To locate the device -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- To prevent the device from sleeping while handling MQTT traffic -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- To read linked contacts (Custom IM type Owntracks with IM name set to the topic) -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" /> <!-- To save contact links -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- To autostart the app once the device boots -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- For BLE beacon detection -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- For BLE beacon detection -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- For BLE beacon detection -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="18" /> <!-- For config import/export -->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Owntracks" >

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ActivityMain" >
        </activity>
        <activity
            android:name=".ActivityPreferences"
            android:configChanges="orientation"
            android:label="Preferences" >
        </activity>
        <activity
            android:name=".preferences.ActivityExport"
            android:configChanges="orientation"
            android:label="Export" >

            <!-- Handle intent from an email attachment -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- Handle intent from a file browser app,etc -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="ftp" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:pathPattern=".*\\.otrc" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.otrc" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="application/otrc"
                    android:pathPattern=".*\\.otrc" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\.otrc" />
            </intent-filter>
        </activity>


        <service
            android:name=".services.ServiceProxy"
            android:exported="false" >
        </service>

        <activity
            android:name=".ActivityLauncher"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".support.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


        <activity
            android:name=".ActivityWaypoints"
            android:label="@string/waypoints" >
        </activity>
        <activity
            android:name=".ActivityWaypoint"
            android:label="Waypoint"
            android:parentActivityName=".ActivityWaypoints" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityWaypoints" />
        </activity>
    </application>

</manifest>
