root = true

[*]
end_of_line = lf
insert_final_newline = true
max_line_length = 120

[*.{kt,kts}]
ij_kotlin_method_call_chain_wrap = split_into_lines
ktlint_ignore_back_ticked_identifier = true
ktlint_code_style = android
