cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
google-api-core==2.19.0
google-api-python-client==2.129.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.63.0
httplib2==0.22.0
idna==3.7
jmespath==1.0.1
pyasn1==0.6.0
pyasn1-modules==0.4.0
pyparsing==3.1.2
requests==2.32.2
rsa==4.9
six==1.16.0
uritemplate==4.1.1
urllib3==2.2.1
