<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- To access Google Play Services -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <application>
        <!-- Maps SDK requires this as of API v28 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <receiver
            android:name=".gms.location.geofencing.GeofencingBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY" />
    </application>
</manifest>
