# Builds, tests and publishes the output to the Play store internal track.
name: Android CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - ".github/**"
      - "!.github/workflows/android.yml"
      - "*.md"
      - ".dependabot/**"
  pull_request:
    branches:
      - master
    paths-ignore:
      - ".github/**"
      - "!.github/workflows/android.yml"
      - "*.md"
      - ".dependabot/**"

jobs:
  build:
    name: Build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: burrunan/gradle-cache-action@v1
        name: Gradle cache
        with:
          build-root-directory: project/
      - name: Assemble
        run: ./gradlew assembleDebug --scan
        working-directory: project
        timeout-minutes: 10
  lint:
    name: "Lint"
    runs-on: macos-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: burrunan/gradle-cache-action@v1
        name: Gradle cache
        with:
          build-root-directory: project/
      - name: Android Lint
        run: ./gradlew lint
        working-directory: project
        timeout-minutes: 30

  unit-test:
    name: "Unit test"
    runs-on: macos-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: burrunan/gradle-cache-action@v1
        name: Gradle cache
        with:
          build-root-directory: project/
      - name: Run unit tests
        run: ./gradlew jacocoTestGmsDebugUnitTestReport
        working-directory: project
        timeout-minutes: 10
      - name: Upload unit test result artifact
        uses: actions/upload-artifact@v2
        with:
          name: unit-test-results
          path: project/app/build/test-results/testGmsDebugUnitTest/*.xml
        if: always()
      - name: Upload unit test coverage artifact
        uses: actions/upload-artifact@v2
        with:
          name: unit-test-coverage
          path: project/app/build/jacoco/jacoco.xml
        if: always()

  espresso-test-gms:
    name: "Espresso test GMS flavor"
    runs-on: macos-latest
    needs: build
    strategy:
      matrix:
        api-level: [ 21 ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: burrunan/gradle-cache-action@v1
        name: Gradle cache
        with:
          build-root-directory: project/
      - name: Espresso Test for GMS flavor
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          working-directory: project
          script: |
            adb emu geo fix 0 51
            sleep 10
            adb shell screencap /sdcard/Download/out1.png
            adb shell settings put secure location_providers_allowed +gps
            sleep 10
            adb shell screencap /sdcard/Download/out2.png
            adb shell settings put secure location_providers_allowed +network
            sleep 10
            adb shell screencap /sdcard/Download/out3.png
            adb shell input keyevent 61
            sleep 10
            adb shell screencap /sdcard/Download/out4.png
            adb shell input keyevent 61
            sleep 10
            adb shell screencap /sdcard/Download/out5.png
            adb shell input keyevent 66
            sleep 10
            adb shell screencap /sdcard/Download/out6.png
            adb shell input keyevent 61
            sleep 10
            adb shell screencap /sdcard/Download/out7.png
            adb shell input keyevent 66
            sleep 10
            adb shell screencap /sdcard/Download/out8.png
            adb shell settings put secure location_mode 3
            sleep 10
            adb shell screencap /sdcard/Download/out9.png
            mkdir tempscreenshots
            adb pull /sdcard/Download/
            mv Download/out*.png tempscreenshots/
            ./gradlew createGmsDebugCoverageReport
          profile: pixel_3a
          target: google_apis
          disable-animations: true
          arch: x86_64
          sdcard-path-or-size: 1000M

      - name: Upload temp screenshots
        uses: actions/upload-artifact@v2
        with:
          name: tempscreenshots-${{ matrix.api-level }}
          path: project/tempscreenshots
        if: always()
      - name: Upload gms connected test result artifact
        uses: actions/upload-artifact@v2
        with:
          name: gms-espresso-test-reports-${{ matrix.api-level }}
          path: project/app/build/reports/androidTests/connected/flavors/gms/
        if: always()
      - name: Upload gms connected test XML
        uses: actions/upload-artifact@v2
        with:
          name: gms-espresso-test-xml-${{ matrix.api-level }}
          path: project/app/build/outputs/androidTest-results/connected/flavors/gms/*.xml
      - name: Upload gms connected test coverage artifact
        uses: actions/upload-artifact@v2
        with:
          name: gms-espresso-test-coverage-${{ matrix.api-level }}
          path: project/app/build/reports/coverage/gms/debug/report.xml
        if: always()
  espresso-test-oss:
    name: "Espresso test OSS flavor"
    runs-on: macos-latest
    needs: build
    strategy:
      matrix:
        api-level: [ 21, 23, 29 ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: burrunan/gradle-cache-action@v1
        name: Gradle cache
        with:
          build-root-directory: project/
      - name: Espresso Test for OSS flavor
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          working-directory: project
          script: |
            adb emu geo fix 0 51
            sleep 1
            adb shell settings put secure location_providers_allowed +gps
            sleep 1
            adb shell settings put secure location_providers_allowed +network
            sleep 1
            adb shell input keyevent 61
            sleep 1
            adb shell input keyevent 61
            sleep 1
            adb shell input keyevent 66
            sleep 1
            adb shell input keyevent 61
            sleep 1
            adb shell input keyevent 66
            sleep 1
            adb shell settings put secure location_mode 3
            sleep 1
            ./gradlew createOssDebugCoverageReport
          profile: pixel_3a
          target: default
          disable-animations: true
          arch: x86_64
          sdcard-path-or-size: 1000M
      - name: Upload OSS connected test result artifact
        uses: actions/upload-artifact@v2
        with:
          name: oss-espresso-test-reports-${{ matrix.api-level }}
          path: project/app/build/reports/androidTests/connected/flavors/oss/
        if: always()
      - name: Upload OSS connected test XML
        uses: actions/upload-artifact@v2
        with:
          name: oss-espresso-test-xml-${{ matrix.api-level }}
          path: project/app/build/outputs/androidTest-results/connected/flavors/oss/*.xml
      - name: Upload OSS connected test coverage artifact
        uses: actions/upload-artifact@v2
        with:
          name: oss-espresso-test-coverage-${{ matrix.api-level }}
          path: project/app/build/reports/coverage/oss/debug/report.xml
        if: always()
  publish-test-results:
    name: "Publish test results and coverage"
    runs-on: ubuntu-latest
    if: always()
    needs:
      - unit-test
      - espresso-test-gms
      - espresso-test-oss
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        name: "Download Artifacts"
        with:
          path: artifacts
      - run: find artifacts
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: ${{ github.event_name == 'pull_request' && github.event.workflow_run.head_repository.full_name == github.repository}}
        with:
          files: "artifacts/**/*.xml"
      - name: Report Test results to Mattermost
        uses: growse/xunit-mattermost-reporter@v1
        if: ${{ github.event_name == 'pull_request' && github.event.workflow_run.head_repository.full_name == github.repository}}
        with:
          mattermostWebhookUrl: ${{ secrets.MATTERMOST_WEBHOOK }}
          xUnitTestPath: "artifacts"
      - uses: codecov/codecov-action@v1
        name: Upload espresso coverage to codecov
        with:
          files: artifacts/oss-espresso-test-coverage-21/report.xml,artifacts/oss-espresso-test-coverage-23/report.xml,artifacts/oss-espresso-test-coverage-29/report.xml,artifacts/gms-espresso-test-coverage-21/report.xml,artifacts/gms-espresso-test-coverage-23/report.xml,artifacts/gms-espresso-test-coverage-29/report.xml
          flags: uitests
      - uses: codecov/codecov-action@v1
        name: Upload unit coverage to codecov
        with:
          file: artifacts/unit-test-coverage/jacoco.xml
          flags: unittests
  publish:
    name: Publish
    runs-on: macos-latest
    if: github.event_name != 'pull_request'
    needs:
      - build
      - unit-test
      - espresso-test-gms
      - espresso-test-oss
      - lint
    steps:
      - name: Check out code
        uses: actions/checkout@v1
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: burrunan/gradle-cache-action@v1
        name: Gradle cache
        with:
          build-root-directory: project/
      - name: Decrypt secrets
        env:
          GOOGLE_CLOUD_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.GOOGLE_CLOUD_SERVICE_ACCOUNT_CREDENTIALS }}
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
        run: |
          echo -n $GOOGLE_CLOUD_SERVICE_ACCOUNT_CREDENTIALS > project/app/owntracks-android-gcloud-creds.json
          echo -n $KEYSTORE_BASE64 | base64 -d > project/owntracks.release.keystore.jks
      - name: Publish play store bundle
        timeout-minutes: 10
        run: ./gradlew publishGmsReleaseBundle
        working-directory: project
        env:
          KEYSTORE_PASSPHRASE: ${{ secrets.KEYSTORE_PASSPHRASE }}
          ORG_GRADLE_PROJECT_google_maps_api_key: ${{ secrets.GOOGLE_MAPS_API_KEY }}
